html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #f7f3f0;
}

a {
    text-decoration: none;
    color: black;
}

#nav-logo {
    color: white;
    font-weight: 900;
}

.hero {
    height: 50vh;
    background: url('./images/laptop-image.jpeg');
    background-size: cover;    
    background-position: right 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 0;
    font-size: 110%;
    line-height: 30px;
}

.flexed {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
}

#nav-logo {
    margin-left: 20px;
}

nav, footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
}

.nav-links, .foot-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a, .foot-links a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    text-decoration: underline;
}

.about-me {
    background-color: rgba(255, 255, 255 ,0.8);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);

}

.skills-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    padding: 20px 0;
    font-size: 120%;
    line-height: 40px;
}

.projects {
    width: 80%;
    height: 400px;
    margin: 30px auto;
    background-color: #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 22px;
}

#complete-me {
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    height: 400px;
}

#complete-me-screenshot {
    /* background: url('./images/complete-me-screenshot.png'); */
    /* background-size: auto 100%; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    width: 50%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

#complete-me-project {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.links {
    padding: 8px 14px;
    border-radius: 4px;
    background-color: black;
    color: white;
    margin: 4px;
}


.links:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#view-work-btn {
    padding: 8px 14px;
    border-radius: 4px;
    background-color: black;
    color: white;
}

#view-work-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.mongodb, 
.node, 
.react, 
.js,
.html,
.css,
.django,
.github,
.jquery,
.python,
.vsc,
.linkedin,
.pdf {
    height: 60px;
    width: 60px;
    z-index: -1;
}

.pdf {
    background: url('./images/pdf-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.vsc {
    background: url('./images/vsc-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.python {
    background: url('./images/python-icon.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.jquery {
    background: url('./images/jquery-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.github {
    background: url('./images/github-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.django {
    background: url('./images/django-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.mongodb {
    background: url('./images/mongodb-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.node {
    background: url('./images/node-icon.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
}

.react {
    background: url('./images/react-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 2px;
}

.js {
    background: url('./images/js-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.html {
    background: url('./images/html5-icon.png');
    background-repeat: no-repeat;
    background-size: 70%;
    position: relative;
    top: 7px;
    margin-left: 5px;
}

.css {
    background: url('./images/css3-icon.png');
    background-repeat: no-repeat;
    background-size: 74%;
    position: relative;
    top: 7px;
}

.linkedin {
    background: url('./images/linkedin.png');
    background-repeat: no-repeat;
    background-size: 76%;
    position: relative;
    top: 10px;
    left: 10px;
    height: 90px;
    width: 90px;
}

.linkedin-p {
    position: relative;
    bottom: 14px;
}

#contact {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    width: 100px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdf-resume {
    position: relative;
    top: 2px;
}

/* 520 */
@media (min-width: 520px) {
    #projects-container {
        display: flex;
        margin: 0 auto;
        justify-content: flex-end;
        text-align: center;
        background-color: #E4E4E4;
        height: 600px;
        position: relative;
        top: 20px;
    }
    .links-container {
        display: flex;
        flex-direction: column;
    }
}

/* 720 */
@media (max-width: 720px) {
    #complete-me {
        flex-direction: column;
        height: auto;
    }
    #complete-me-screenshot {
        height: 300px;
        width: 100%;
    }
    #complete-me-project {
        height: 300px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}